* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 5em;
}

img {
  width: 20%;
  height: 50%;
  padding: 0.2em;
  border: 1px solid black;
  border-radius: 1.5em;
}

.heading, .form {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

#title {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1em;
}

.btn:hover {
  color: grey;
}

.btn, .input {
  border: 2px solid black;
  width: 6em;
  height: 2.8em;
  border-radius: 2em;
  font-family: 'Raleway', sans-serif;
}

.input {
  font-size: 0.9em;
  width: 12em;
  height: 2.5em;
  border-radius: 0.3em;
}
